{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static  '/images/jcems4.png '%}">
    <title>Hello, world!</title>
        <style>
      .good {background-color:#0C0 ;}
      .moderate {background-color:#FFFF00  ;}
      .usg {background-color:#FF9900 ;}
      .unhealthy {background-color:#FF0000 ;}
      .veryunhealthy {background-color:#990066 ;}
      .hazardous {background-color:#660000 ;}
      




    </style>
  </head>
      <!-- Image and text -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/jcems5.png '%}"></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{user.first_name}}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'calendar' %}">Training Calendar</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'unitBoard' %}">County Wide Status board</a>
          <a class="dropdown-item" href="{% url 'station1' %}">Station 1</a>
          <a class="dropdown-item" href="{% url 'st2' %}">Station 2</a>
          <a class="dropdown-item" href="{% url 'st3' %}">Station 3</a>
          <a class="dropdown-item" href="{% url 'st4' %}">Station 4</a>
          <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="{% url 'addunit' %}">Add an Unit</a>
           <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
      </li>

    </ul>

  </div>
</nav>
          {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">

                <small><sup>x</sup></small>

            </button>
                {{ message }}
          </div>
        {% endfor %} 
      {% endif %} 
  <body>
    <div class="container">
      <br/>
    {%block content%}

    {%endblock%}
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>